.user-form {
    margin-top: 100px;
}

.form-error {
    color: red;
}

.form-center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-link {
    text-decoration: none;
}

#section-profile {
    margin: 65px 0;
    background-color: #eee;
}

#settings-profile-picture {
    cursor: pointer;
    width: 150px;
}

.settings-icon {
    width: 16px;
}