<?php
// Datos de conexión a la base de datos
define("HOST_NAME", "db_host");
define("DB_NAME", "your_database");
define("DB_USER", "your_db_user");
define("DB_PASSWORD", "your_db_password");

// Prefijo para las tablas de la base de datos
define("DATABASE_TABLES_PREFIX", "sample_");