/* Pagination controls */
.pagination>li>button {
    background: #fff;
    color: black;
    border: 1px solid black;
}

.pagination>li>button:hover {
    background: black;
    color: #fff;
    transition: ease-in-out 0.7s;
}

.pagination>li>button.active {
    background: black;
    color: #fff;
}

/* Gallery */
.image-container:hover .image-overlay:hover {
    opacity: 1;
    cursor: pointer;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
    background: rgba(0, 0, 0, 0.5) url('loupe.png') no-repeat center;
    background-size: 64px 64px;
    background-position: center center;
}

/* Lightbox */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.lightbox img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

.close-lb {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 20px;
    right: 20px;
    fill: #C64E52;
    cursor: pointer;
}

.close-lb:hover {
    fill: red;
    transition: fill 1s;
}